<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>在线考试</title>
    <link rel="stylesheet" href="/static/style.css">
    <script src="/static/script.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            if (localStorage.getItem("token") != null) {
                welcome = document.getElementById("welcome");
                welcome.innerHTML = "你好，" + localStorage.getItem("realname");
                welcome.innerHTML += "&nbsp;&nbsp;<a href='#' onclick='doLogout()'>退出</a>";
            }
        });
    </script>
</head>
<body>
    <div class="menu">
      <div class="logo">蜗牛AI智慧课堂</div>
      <div class="login">
          用户名：<input type="text" id="username">
          密码：<input type="password" id="password">
          &nbsp;&nbsp;<button onclick="doLogin()">登录</button>
      </div>
      <div id="welcome">
          <a href="#" onclick="clickLogin()">点击登录</a>
      </div>
    </div>

    <div class="exam-box">
        <!--遍历每一道题目，并显示到前端页面中-->
        {% for exam in exams %}
        <!--如果是单选题，则需要使用radio显示一个单选按钮用于作答-->
        {% if exam.Exams.type == 'choice' %}
        <div class="choice-box">
            <div class="question">第{{loop.index}}题：{{exam.Exams.question}}</div>
            <div class="options">
                {% for k, v in exam.Exams.options.items() %}
                    <!--单选按钮中一组按钮的name属性必须保持一致，才能正常单选-->
                    <!--单选框的值格式为choice-2-C，选中时其值将会作为答案提交到后端，后端split后获取-->
                    <input type="radio" name="choice-{{exam.Exams.examid}}" value="choice-{{exam.Exams.examid}}-{{k}}">
                    {{k}}：{{v}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                {% endfor %}
            </div>
        </div>
        <!--如果是简答题，则显示题目和一个textarea用于作答-->
        {% elif exam.Exams.type == 'qa' %}
         <div class="qa-box">
            <div class="question">第{{loop.index}}题：{{exam.Exams.question}}</div>
            <div class="answer">
                <!--以qa-10这种格式作为ID，可以解析出题目的编号，以对应数据表的ID-->
                <textarea class="answer-input" id="qa-{{exam.Exams.examid}}"></textarea>
            </div>
        </div>
        {% endif %}
        {% endfor %}
        <div class="submit"><button id="submit" onclick="doExam('{{exams[0].Exams.videoid}}')">提交试卷</button></div>
    </div>
</body>
</html>